.create-project {
    background-color: #00bde3;
    border: black solid 1px;
    border-radius: 5px;
}

.project-info {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.create-project-title {
    text-align: center;
    margin: 20px 0px;
    color: white;
}

.create-button {
    margin: 20px;
    padding: 4px 20px;
    border: black solid 1px;
    border-radius: 10px;
}